body {
    --header-theme-icon-color: #ffffff;
    --header-background-color: rgb(107,77,56); 
    --background-color: #e7d7c9;   
    --text-color: #000;
    --card-background-color: #f4efe6;
    --selected-page-background-color: #f4efe6;
}

body.dark {
    --header-theme-icon-color: #ffffff; 
    --header-background-color: #556b2f;   
    --background-color: #252421;    
    --text-color: #ffffff;
    --selected-page-background-color: #e7d7c9;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    
    .header {
        background-color: var(--header-background-color);
    }
    
    .icon {
        color: var(--header-theme-icon-color);
    }
    
    button[type="submit"] {
        background-color: var(--header-background-color);
    }

    img.object-cover {
        height: 200px;
        width: 150px;
    }

    .listing-card {
        height: 395.95px;
        max-width: 270px;
        background-color: var(--card-background-color);
    }

    .card {
        background-color: var(--card-background-color);
    }

    .pagination {
        .css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root {
            color: var(--text-color);
        }

        .css-1l5xwdx-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
            background-color: var(--selected-page-background-color)
        }
    }
}

